@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .button {
    @apply px-4 py-2 border-t border-gray-200 rounded-lg hover:shadow-md active:scale-90 cursor-pointer transition duration-200 ease-out active:bg-gray-100
  }
}
